# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv
env/
venv/
*.egg-info/
dist/
build/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Docker
*.tar
*.img
docker-compose.override.yml

# Data
*.csv
*.tsv
*.parquet
*.db
*.sqlite
*.h5
*.hdf5
*.log
*.bak
*.tmp
.DS_Store

# VSCode
.vscode/
